.blog {
  max-width: 38em;
  margin: auto;
}

.topnav {
    padding: 100px;
    background:#F0F8FF;
    color: white;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
  }
/* Style the links inside the navigation bar */


  /* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.firstpost {
  text-align:left;
}

.pitlochry {
  width:200px;
  height:200px;
}