.blog {
  max-width: 38em;
  margin: auto;
}

.topnav {
    padding: 40px;
    background: #ACE1AF;
    color: #f2f2f2;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
  }
/* Style the links inside the navigation bar */


  /* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

